<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
	    <servlet-name>Compute</servlet-name>
	    <servlet-class>compute.Compute</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>Compute2</servlet-name>
	    <servlet-class>compute.Compute2</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AppUser</servlet-name>
		<servlet-class>user.RandomUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>test.test</servlet-class>
		<!-- servlet-class>test.webapptest</servlet-class -->
	</servlet>

	<servlet>
		<servlet-name>Monitor</servlet-name>
		<servlet-class>monitor.Monitor</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>BIPMonitor</servlet-name>
		<servlet-class>monitor.BIPMonitor</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>BIPDeployer</servlet-name>
		<servlet-class>deployer.BIPDeployer</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>Compute</servlet-name>
	    <url-pattern>/compute</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Compute2</servlet-name>
	    <url-pattern>/compute2</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>AppUser</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Monitor</servlet-name>
		<url-pattern>/monitor</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>BIPMonitor</servlet-name>
		<url-pattern>/BIPMonitor</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>BIPDeployer</servlet-name>
		<url-pattern>/BIPDeployer</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>  
   		<welcome-file>index.html</welcome-file>  
   		<welcome-file>index.jsp</welcome-file>  
  	</welcome-file-list>  
  	

	
</web-app>
